{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/tabla.css' %}">

<div class="tabla-container">

  <!-- TÍTULO -->
  <h1>
    Casos por CIE10
    {% if cie_id %}
      : {{ cie_id }}
    {% endif %}
  </h1>

  <!-- FORMULARIO -->
  <form method="POST">
    {% csrf_token %}

    <!-- Si usas Django Form -->
    {% if form %}
      {{ form.cie_id }}
    {% else %}
      <input
        type="text"
        name="cie_id"
        placeholder="Ej. C50"
        value="{{ cie_id|default:'' }}"
        maxlength="4"
        autocomplete="off">
    {% endif %}
    <button type="submit" class="btn-outline">
  Buscar
</button>

<a href="{% url 'create_task' %}" class="btn-outline">
   Limpiar
</a>

  </form>

  <!-- TABLA -->
  {% if datos %}
    <table>
      <thead>
        <tr>
          <th>Estado</th>
          <th>Municipio</th>
          <th>Sexo</th>
          <th>Clave CIE10</th>
          <th>Total de Casos</th>
        </tr>
      </thead>
      <tbody>
        {% for fila in datos %}
        <tr>
          <td>{{ fila.estado }}</td>
          <td>{{ fila.municipio }}</td>
          <td>{{ fila.sexo }}</td>
          <td>{{ fila.id_cie10 }}</td>
          <td>{{ fila.total_casos }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="sin-resultados">
      No se encontraron datos para la clave CIE proporcionada.
    </div>
  {% endif %}

</div>

{% endblock %}
