{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/task.css' %}">

<div class="task-container">

    <h1>Centro de Procesamiento de Datos</h1>

    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}

    <button type="submit">Cargar Datos</button>
</form>
</div>
{% endblock %}
